!!!
%html
  %head
    %title Twetter
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %header
      %h1 Twetter
      %h3.flair For a twetter world

      %nav.block
        = link_to 'New Subscription', new_subscription_path
        = link_to 'My Feed', feed_path      

    %content
      = yield
